	<!-- INTRO BLOCK -->
	<div class="main-intro-section mintro-section-c-green txt-c overfh m-xl-bottom">
		<div class="intro-section displayb c-obj c-contrast overfh p-xxl-top p-xxl-bottom">
			<h3 class="no-m-top m-xs-bottom fbold">{{#labels}}{{whoops}}{{/labels}}</h3>
			<h4 class="m-s-bottom m-xs-top">{{#labels}}{{something_wrong}}{{/labels}}</h4>
			<div class="c-s-separator-intro c-obj"></div>
		</div>
	</div>

	<!-- SUBNAVS -->
	<div class="global-content clearb overfh">

		<!--CONTENT BLOCK-->
		<div class="container-max-height">

				<div class="container-fluid pos-content p-xxl-bottom main-content-st">

					<div class="row">

						<div class="col-lg-12 col-md-12 col-sm-12 f-merryw large text-center txt-xxl m-xxl-bottom">
							<img src="{{path}}/img/404-error-image.png" alt="Error 404" class="m-xxl-top m-xxl-bottom" />
							<h4 class="text-center txt-xxl m-l-bottom c-g40">{{labels.keep_calm}}</h4>
						</div>

					</div>

				</div>
		<!--end container block-->

		</div>


	</div><!--end global content-->
