<li class="p-xs-bottom"><span class="social-title txt-xs c-g40">{{#labels}}{{spread_the_word}}{{/labels}}</span></li>
<li class="item-s txt-s"><span class="icon-twitter icon-s-twitter"></span> <a class="item-s-a" href="http://twitter.com/share?url={{url}}&via=webfoundation">Twitter</a></li>
<li class="item-s txt-s"><span class="icon-facebook icon-s-facebook"></span> <a class="item-s-a" href="http://www.facebook.com/sharer.php?u={{url}}">Facebook</a></li>
<li class="item-s txt-s"><span class="icon-gplus icon-s-gplus"></span> <a class="item-s-a" href="https://plus.google.com/share?url={{url}}">Google+</a></li>
