<div class="aside-social-unq hidden-xs hidden-sm">
  <div class="c-social">
    <nav>
      <ul class="social-items">
        {{>social-content}}
      </ul>
    </nav>
  </div><!--end c-social-->
</div>
