<div class="social-nav hidden-sm hidden-xs">
  <div class="c-social">
    <nav>
      <ul class="social-items pos-snav">
        {{>social-content}}
      </ul>
    </nav>
  </div><!--end c-social-->
</div>
